body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  --scrollbar-width: 0.4rem;
  --light-color: aquamarine;
  --dark-color: mediumpurple;
  font-family: "Space Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: -1;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
  overflow-x: hidden;
  overflow-y: auto;
}
h1,
h2 {
  text-align: center;
  max-width: 90vw;
  position: relative;
  margin: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  margin-top: 35vh;
}

h2 {
  font-size: clamp(1rem, 5vw, 5rem);
  color: aquamarine;
  margin-bottom: 2rem;
}

h3 {
  font-size: clamp(1rem, 2vw, 2rem);
  color: aquamarine;
  margin-bottom: 2rem;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 5%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(12vmax);
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  order: 1;
}

.nav_links li a {
  color: #ecf0f1;
  text-decoration: none;
}

.nav_links li a:hover {
  color: aquamarine;
}

button {
  padding: 9px 20px;
  background-color: mediumaquamarine;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  order: 1;
}

button:hover {
  background-color: var(--dark-color);
}

.cta {
  align-self: flex-start;
  margin-top: 10px;
}

.spacer {
  height: 2rem;
}

.about,
.projects,
.technologies,
.socials,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 4rem 2rem;
}

.about p {
  max-width: 600px;
  font-size: large;
}

.highlight {
  color: aquamarine;
  font-weight: bold;
}

table {
  width: 90%;
  max-width: 900px;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  color: white;
}

table i {
  font-size: 1.3rem;
}

th {
  text-align: center;
}

td,
th {
  padding: 12px;
  border-bottom: 1px solid aquamarine;
}

.technologies-images ul,
.socials-images ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  list-style: none;
}

.technologies-images ul li i,
.socials-images ul li a i {
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  transition: transform 0.3s;
}

.technologies-images ul li i:hover,
.socials-images ul li a i:hover {
  transform: scale(1.2);
  color: aquamarine;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: min(600px, 90vw);
  margin: 2rem auto;
  align-items: center;
  gap: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1.15rem;
  padding: 0.5em;
  border: solid 1px var(--dark-color);
}

.contact-form button {
  align-self: center;
}
@media (max-width: 768px) {
  header {
    padding: 10px 5%;
    height: 50px;
  }
  #contact {
    display: none;
  }
  .about p {
    width: 90%;
  }
  table {
    width: 100%;
  }
  .technologies-images ul {
    columns: 2;
    align-items: center;
  }
  .contact-form {
    width: 90%;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
  background: var(--light-color);
}
